In [1]:
import pandas as pd
from sqlalchemy import create_engine

database_url = "postgresql+psycopg2://postgres:123456@localhost:5432/postgres"

# create a SQLALchemy engine
engine = create_engine(database_url)

In [4]:
df = None
with engine.connect() as connection:
    print("Connection successful!")
    print("Reading data from the database...")

    df = pd.read_sql_query("""
        SELECT * FROM public.preco_combustivel;
    """, connection)

Connection successful!
Reading data from the database...

In [5]:
df['data_coleta'] = pd.to_datetime(df['data_coleta'])
df_anp = df[['data_coleta', 'regiao', 'estado', 'municipio','bandeira', 'produto', 'valor_venda' ]]
df_anp['ano'] = df_anp['data_coleta'].dt.year
df_anp['mes'] = df_anp['data_coleta'].dt.month
print(df_anp.head())

  data_coleta regiao estado     municipio bandeira             produto  \
0  2021-01-01      S     RS  SAO LEOPOLDO   BRANCA            GASOLINA
1  2021-01-01      S     RS  SAO LEOPOLDO   BRANCA              ETANOL
2  2021-01-01      S     RS  SAO LEOPOLDO   BRANCA  GASOLINA ADITIVADA
3  2021-01-01      S     RS  SAO LEOPOLDO   BRANCA              DIESEL
4  2021-01-01      S     RS  SAO LEOPOLDO   BRANCA          DIESEL S10

   valor_venda   ano  mes
0        4.599  2021    1
1        4.199  2021    1
2        4.799  2021    1
3        3.499  2021    1
4        3.599  2021    1

/var/folders/yl/kxzm_dt540l7tgjzxj_d_zj00000gn/T/ipykernel_52926/429063838.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anp['ano'] = df_anp['data_coleta'].dt.year
/var/folders/yl/kxzm_dt540l7tgjzxj_d_zj00000gn/T/ipykernel_52926/429063838.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anp['mes'] = df_anp['data_coleta'].dt.month

In [6]:
df_anp.describe().round(2)

                         data_coleta  valor_venda         ano         mes
count                        3438368   3438368.00  3438368.00  3438368.00
mean   2020-12-10 17:47:02.332455680         4.70     2020.47        6.21
min              2019-01-02 00:00:00         1.80     2019.00        1.00
25%              2019-11-07 00:00:00         3.66     2019.00        3.00
50%              2020-12-28 00:00:00         4.43     2020.00        6.00
75%              2022-01-19 00:00:00         5.60     2022.00        9.00
max              2022-12-30 00:00:00         9.65     2022.00       12.00
std                              NaN         1.35        1.17        3.35

In [7]:
# Quais são os tipos de produtos que estão sendo comercializados?
print(f"Tipos de produtos: {df_anp['produto'].unique()}\n\n")

Tipos de produtos: ['GASOLINA' 'ETANOL' 'GASOLINA ADITIVADA' 'DIESEL' 'DIESEL S10' 'GNV']

In [8]:
# Quais são as bandeiras que estão presentes na base de dados?
print(f"Bandeiras: {df_anp['bandeira'].unique()}\n\n")

Bandeiras: ['BRANCA' 'IPIRANGA' 'RAIZEN' 'PELIKANO' 'PETROBRAS DISTRIBUIDORA S.A.'
 'RODOIL' 'SABBÁ' "ATEM' S" 'LARCO' 'EQUADOR' 'TOTAL BRASIL' 'ATLÂNTICA'
 'ALESAT' 'RIO BRANCO' 'SIMARELLI' 'ROYAL FIC' 'IDAZA' 'FEDERAL'
 'TDC DISTRIBUIDORA' 'DISLUB' 'SETTA DISTRIBUIDORA' 'UNI' 'TOBRAS'
 'CHARRUA' 'RAIZEN MIME' 'PETROX DISTRIBUIDORA' 'TEMAPE' 'SP' 'STANG'
 'CIAPETRO' 'RZD DISTRIBUIDORA' 'POTENCIAL' 'TAURUS' 'SUL COMBUSTÍVEIS'
 'REJAILE' 'AMERICANOIL' 'SMALL' 'MAXSUL' 'TORRAO' 'PETROSERRA'
 'PETROBAHIA' 'FAN' 'RUFF C.J.' 'TAG DISTRIBUIDORA' 'DIBRAPE' 'WATT'
 'VIBRA ENERGIA' 'WALENDOWSKY' 'FEDERAL ENERGIA' 'PODIUM'
 'MASUT DISTRIBUIDORA' 'D`MAIS' 'MONTEPETRO' 'ESTRADA' 'TOTALENERGIES'
 'HORA' 'ZEMA' 'RM PETROLEO' 'GP' 'GRAN PETRO' 'ACOL' 'PETROLUZ'
 'REDE SOL' '76 OIL' 'DINAMO' 'MEGAPETRO' 'LIQUIGÁS' 'SAARA' 'AIR BP'
 'PR DISTRIBUIDORA' 'PETRONAC' 'SUPERGASBRAS ENERGIA' 'FOGAS'
 'NACIONAL GÁS BUTANO' 'BAHIANA' 'ULTRAGAZ' 'AMAZONGÁS' 'ON PETRO'
 'PETROBRASIL']

In [9]:
df_anp_valor = df_anp[['ano', 'produto', 'valor_venda']]
df_anp_valor.groupby(['produto', 'ano']).agg(['min', 'max', 'mean']).round(2)

                        valor_venda
                                min   max  mean
produto            ano
DIESEL             2019        2.87  4.99  3.60
                   2020        2.45  5.09  3.42
                   2021        3.10  6.99  4.69
                   2022        3.14  9.00  6.63
DIESEL S10         2019        2.79  5.09  3.69
                   2020        2.46  5.38  3.51
                   2021        2.80  6.96  4.74
                   2022        3.59  9.65  6.73
ETANOL             2019        2.10  5.47  3.17
                   2020        1.80  5.15  3.18
                   2021        2.05  7.90  4.67
                   2022        2.49  7.98  4.85
GASOLINA           2019        3.39  6.29  4.42
                   2020        2.87  5.90  4.28
                   2021        3.10  8.00  5.89
                   2022        3.49  8.99  6.32
GASOLINA ADITIVADA 2020        3.69  6.00  4.59
                   2021        3.46  8.99  6.04
                   2022        4.09  9.28  6.47
GNV                2019        2.00  4.56  3.22
                   2020        2.00  4.78  3.17
                   2021        2.38  6.70  3.89
                   2022        3.17  7.99  5.04

In [10]:
df_anp_valor_estado = df_anp[['ano', 'produto', 'estado', 'valor_venda']]
df_anp_valor_estado.groupby(['produto', 'ano', 'estado']).agg(['min', 'max', 'mean']).round(2)

                    valor_venda
                            min   max  mean
produto ano  estado
DIESEL  2019 AC            4.04  4.99  4.44
             AL            3.39  4.31  3.78
             AM            3.36  4.47  3.81
             AP            3.62  4.99  4.17
             BA            3.11  4.65  3.62
...                         ...   ...   ...
GNV     2022 RN            4.11  4.99  4.50
             RS            4.59  6.89  5.88
             SC            4.00  6.89  5.50
             SE            4.47  5.49  4.99
             SP            3.59  6.99  5.22

[598 rows x 3 columns]